<html>
<body>
	<h3>Income Prediction Form</h3>

<div>
<form action="/predict" method="POST">
	<!-- <label for="category">Category</label>
	<select id="category" name="category">
	<option value="0">Alkoholunfälle</option>
	<option value="1">Fluchtunfälle</option>
	<option value="2">Verkehrsunfälle</option>
	</select>
	<br>
	<label for="type">Type</label>
	<select id="type" name="type">
	<option value="0">Verletzte und Getötete</option>
	<option value="1">insgesamt</option>
	<option value="2">mit Personenschäden</option>
	</select> -->
	<br>
	<!-- <label for="year">Year</label>
	<select id="year" name="year">
	<option value="0">2021</option>
	<option value="1">2022</option>
	<option value="2">2023</option>
	</select> -->
	<br>
	<label for="month">Month</label>
	<select id="month" name="month">
	<option value="4">January</option>
	<option value="3">February</option>
	<option value="7">March</option>
	<option value="0">April</option>
	<option value="8">May</option>
	<option value="6">June</option>
	<option value="5">July</option>
	<option value="1">August</option>
	<option value="11">September</option>
	<option value="10">October</option>
	<option value="9">November</option>
	<option value="2">December</option>
	<option value="12">Whole Year</option>
	</select>
	<br>
	<br>
	<label for="year">Year</label>
	<input type="text" id="year" name="year" placeholder="Enter a year after 2000">
	<br>
	<input type="submit" value="Submit">
</form>
</div>
</body>
</html>
